/* src/index.css */
@import './assets/styles/variables.css';

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}
